#board {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    width: 800px;
    height: 800px;
    background-color: #FE6B8B;
}

#board .tile {
    display: grid;
    place-content: center;
    width: 100px;
    height: 100px;
    border: medium solid;
}

#board .darkTile {
    background-color: #75421d;
}

#board .lightTile {
    background-color: #e6e7c3;
}